@media screen and (min-width: 767px) {
  form {
    max-width: 1120px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  .invoice-checkbox-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3px;
  }
  #invoice-fields {
    gap: 20px;
    flex-wrap: wrap;
  }
  .invoice-fields-item {
    display: flex;
    flex-direction: column;
    flex: 48%;
  }
  .contact-fields {
    flex: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .input-group {
    display: flex;
    flex-direction: column;
    flex: 45%;
  }
  .last-container {
    flex: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
  }
  .additional-container {
    flex-direction: row;
    display: flex;
  }
  .comment-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .step-container {
    display: flex;
    margin-bottom: 30px;
  }
  .route {
    flex: 30%;
    display: flex;
    flex-direction: column;
  }
  .payer-information {
    flex: 60%;
  }
  .additional-fields-container {
    display: flex;
    flex-direction: column;
  }
  .additional-fields-item {
    display: flex;
    flex-direction: column;
  }
  .additional-fields-item:nth-of-type(2) {
    flex: 50%;
  }
  .additional-fields-item:nth-of-type(1) {
    flex: 50%;
  }
  .full-width {
    flex: 100%;
  }
  .step-name {
    flex: 40%;
  }

  .parcel {
    display: flex;
    gap: 20px;
    flex: 60%;
    flex-wrap: wrap;
  }
  .parcel-items {
    display: flex;
    flex-direction: column;
    flex: 30%;
  }
  .third-container {
    flex: 30%;
    display: flex;
    align-items: center;
  }
  .date-fields {
    flex: 30%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }
  .invoice-checkbox-container {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  form {
    font-family: Arial, Helvetica, sans-serif;
  }
  .route {
    display: flex;
    flex-direction: column;
  }
  .date-fields {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }
  .parcel {
    display: flex;
    flex-direction: column;
  }
  .parcel-items {
    display: flex;
    flex-direction: column;
  }
  .payer-information,
  .additional-fields-item,
  .container,
  .invoice-fields-item,
  .input-group,
  .comment-container {
    display: flex;
    flex-direction: column;
  }

  #invoice-fields {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.full-width {
  flex: 100%;
}
h1 {
  font-size: 36px;
  font-weight: 700;
  color: #7a7776;
}

.step-container:nth-of-type(1) {
  gap: 20px;
  align-items: baseline;
}
.step-container:nth-of-type(2) {
  align-items: baseline;
}

.date-fields select {
  flex-grow: 1;
}

#add-parcel,
#remove-parcel {
  width: 100%;
  text-transform: uppercase;
  color: #9aa61e;
  border: 0.5px #9aa61e solid;
  background-color: white;
  font-weight: 700;
}
#add-parcel {
  margin-bottom: 12px;
}
#remove-parcel {
  margin-top: 38px;
}

.additional-container {
  gap: 20px;
}
#estimated-price {
  text-align: right;
  color: #7a7776;
}

input,
select,
button,
textarea {
  padding: 10px 0px;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
  color: rgba(122, 119, 118);
  font-weight: 400;
  border: 0.5px rgba(0, 0, 0, 0.5) solid;
  background-color: white;
}
#comment {
  padding: 10px;
  resize: none;
  border: 0.5px rgba(0, 0, 0, 0.1) solid;
}
#delivery-date, #estimated-price {
  color: #9aa61e;
  flex: 100%;
}
#submit-form:hover {
  background-color: white;
  color: rgb(154, 166, 30);
  box-shadow: 0 2px 15px -3px rgba(154, 166, 30, 0.07),
    0 10px 20px -2px rgba(154, 166, 30, 0.04);
}
input:focus,
select:focus,
button:focus,
textarea:focus {
  border: 0.5px #9ba61e88 solid;
  outline: 0.5px #9ba61e88 solid;
}
.step-name {
  color: #7a7776;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
}
label {
  margin: 10px 0px;
  color: #7a7776;
  font-weight: 400;
}
hr {
  margin-bottom: 15px;
}
.input-explanation {
  color: rgb(122, 119, 118);
  font-size: 12px;
  padding-left: 10px;
}
.error-message {
  color: rgba(166, 39, 30, 0.61);
  padding-top: 5px;
  padding-left: 10px;
  font-size: 14px;
}
#parcel-error {
  text-align: right;
}
#submit-form {
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background-color: #9aa61e;
  width: 48%;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 0.5px rgba(0, 0, 0, 0.1) solid;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
}

input[type="checkbox"]:checked:before {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #9aa61e;
  font-size: 16px;
}

input[type="checkbox"]:focus {
  outline: 2px solid #9aa61e;
  outline-offset: -2px;
}
.invoice-checkbox-container {
  font-size: 14px;
}
.invoice-checkbox-container a {
  color: #9aa61e;
  text-decoration: underline;
}

.invoice-checkbox-container a:hover {
  text-decoration: none;
}
.submit-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
}
#shipping-rules-error,
#packing-rules-error {
  width: 100%;
}
.hidden {
  display: none;
}
#date-error {
  flex: 100%;
}
.error {
  border: 0.5px rgba(166, 39, 30, 0.61) solid;
  outline: 0.5px rgba(166, 39, 30, 0.61) solid;
}
#message-container {
  display: flex;
  text-align: center;
  justify-content: center;
  justify-self: center;
  width: 100%;
  flex-wrap: wrap;
}
#order-confirmed {
  max-width: 1120px;
  padding: 0px 50px;
  text-align: justify;
}
